<!doctype html>
<html>
  <head>
    <title>Ivan Uvarov | Designer and Developer</title>
    <link rel="stylesheet" href="/public/css/main.min.css">
    <link rel="icon" type="image/png" href="/public/img/favicon.png">
  </head>

  <body>

  <header>
    <div class="row">
      <div class="name columns small-12 small-centered text-center">
        Ivan Uvarov
      </div>
    </div> 
  </header>

  <section class="quote">
    <div class="row">
      <div class="quote-content columns small-12 medium-6 small-centered text-center">
        <p class="quote-text">&ldquo;Simplicity is the ultimate sophistication.&rdquo;</p>
        <p class="quote-author">&mdash; Leonardo da Vinci</p>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="row">
      <div class="about columns small-12 medium-6">
        <h2>About</h2>
        <p class="description">Hi, my name is Ivan Uvarov. I design and develop web and iOS apps. Right now I'm buillding <a href="https://medium.com/@uvarovis/so-yes-i-m-building-10-apps-in-5-months-96ad836909a4" target="_blank">10 apps in 5 months</a>, check it out!</p>
        <p class="description">Feel free to reach me if you have anything to talk about.</p>
      </div>
      <div class="follow columns small-12 medium-4 medium-offset-2">
        <h2>Follow</h2>
        <div class="links">
          <a href="https://twitter.com/uvarovdd" target="_blank">Twitter</a>
          <a href="https://instagram.com/uvarovis" target="_blank">Instagram</a>
          <a href="https://medium.com/@uvarovis" target="_blank">Medium</a>
          <a href="https://github.com/uvarovis" target="_blank">GitHub</a>
        </div>
      </div>
    </div>
  </section>

  </body>
</html>
